---
Language: C
BasedOnStyle: LLVM

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

ColumnLimit: 100
AccessModifierOffset: -2
IndentWidth: 4
TabWidth: 4
UseTab: Never

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

DerivePointerAlignment: false
BreakConstructorInitializers: BeforeComma
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Right

BinPackArguments: false
BinPackParameters: false

AlignArrayOfStructures: Right
